<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<title>Sentiment analysis on Tweets using Hugging Face</title>
	</head>
	<body>
		<form method=post enctype=multipart/form-data>
			<div style="height:80px"></div>
			<div class="container">
				<h3 style= "color:#002147">MSDS-434 NLP Sentiment Analysis </></h3>
				<hr>
				<div style="height:50px"></div>
				<h5>Enter Text: </h5>
				<textarea name="message" rows="4" cols="50"></textarea>
				<br/>
				<div style= "height:40px"></div>
				<h5>Select Hugging Face model: </h5>
				<select name="model_choice">
				{%for i in range(0, len)%}
			  		<option>{{listOfKeys[i]}}</option>
				{%endfor%}
				</select>
				<div style= "height:50px"></div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				<div style= "height:100px"></div>
	</body>
</html>
</html>